{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <section id="cover" class="cover">
        <div class="cover-inner">
            <div class="cover-catch">
                <b>Bienvenue sur GuestBook,</b><br>
            </div>
        </div>
    </section>
    <section id="conferences_list">
        <div class="container-fluid">
            <div class="conferences-list" >
                <div class="row"  id="conferences-container" >
                    {% for conference in conferences %}
                        <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 trick-info">
                            <div class="conference-item">
                                 <div class="conference-image">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <a class="embed-responsive-item" href="{{path('app_conference_show', {'id': conference.id})}}">
                                            <img src="{{ asset('/uploads/' ~ conference.image )}}" alt="{{ conference.city }}">
                                        </a>
                                    </div>
                                </div>
                                <div class="conference-name">
                                    <ul class="flex-row">
                                        <li class="name">
                                            <a href="{{path('app_conference_show', {'id': conference.id})}}">
                                                {{ conference.city }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}